# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Env
.env
.env.*

# Outputs
outputs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Learning notes (local-only)
learning_notes/
learning_notes/**
notebooklm_pack/

# Data
data/volve/
data/volve/**
data/raw/
data/volve_logs/

# Git filter repo
git-filter-repo.py

test_telemetry_receiver.py

# Blender files
unity/ares1_unity_project/Ares-1/Assets/Art/Blender/Rig/Ares1_DrillingRig_v01_2.9999m-Ref.blend
unity/ares1_unity_project/Ares-1/Assets/Art/Blender/Rig/Ares1_DrillingRig_v01_2.9999m-Ref.blend1